@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --navigation-height: 4.8rem;
  }


  /* Font below is used for hero */
  @font-face {
    font-family: "Avant Garde Book BT";
    font-style: normal;
    font-weight: normal;
    src: url("../../public/fonts/AVGARDD_2.woff") format("woff");
  }

  @font-face {
    font-family: "Title";
    src: url("../../public/fonts/Neglige.otf");
  }

  @font-face {
    font-family: "Body";
    src: url("../../public/fonts/NeueMontreal_Medium.otf");
  }

  body {
    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #934E00;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-track {
      background-color: #222121;
    }
  }

  .custom-font {
    font-family: "Avant Garde Book BT";
  }

  .custom-font-title {
    font-family: "Title";
  }

  .custom-font-body {
    font-family: "Body";
  }

  .mask {
    mask-image: url("../../public/mask.svg");
    mask-repeat: no-repeat;
    mask-size: 40px;
    z-index: 1;
    background: #934e00;
    position: absolute;
    color: white;
  }


  /* Not going to use this */
  .folder-shape {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 500px;
    width: 1000px;
    border-radius: 0 25px 25px 25px;
    padding: 50px;
    transform-origin: top;
  }

  .folder-shape::before {
    content: "";
    width: 50%;
    height: 60px;
    border-radius: 25px 25px 0 0;
    background: inherit;
    position: absolute;
    top: -50px;
    left: 0px;
  }
}
