@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --navigation-height: 4.8rem;
  }

  @font-face {
    font-family: "Avant Garde Book BT";
    font-style: normal;
    font-weight: normal;
    src: url("../../public/fonts/AVGARDD_2.woff") format("woff");
  }

  @font-face {
    font-family: "Title";
    src: url("../../public/fonts/Neglige.otf");
  }

  @font-face {
    font-family: "Body";
    src: url("../../public/fonts/NeueMontreal_Medium.otf");
  }

  body {
    margin: 0px;
    /* overflow: hidden will hide scrollbars */
    overflow: hidden;
    cursor: wait;
  }

  .custom-font {
    font-family: "Avant Garde Book BT";
  }

  .custom-font-title {
    font-family: "Title";
  }

  .custom-font-body {
    font-family: "Body";
  }

  .mask {
    /* @apply absolute; */
    mask-image: url("../../public/mask.svg");
    mask-repeat: no-repeat;
    mask-size: 40px;
    background: #ec4e39;
    /* background: #6D3C02;
    background: #934E00; */
    position: absolute;
    color: black;
  }
}
